* {
    margin: 0;
    padding: 0; }

h1{
    color:rgb(255, 0, 0) ;
   }
 .center{
       text-align: center;
   }
   body{
       background-color: #000;
       .rojo{
        color: #dc3545;
    }
    .blanco{
        color: #fff;
    }
    .amarillo{
        color: #000;
    }
    .textCenter{
        text-align: center;
    }
    .left{
        margin-left: 45%;
    }
    .top{
        margin-top: 100px;
    }
    .letra{
        font-size: xx-large;
    }
    .abajo{
        margin-top: 30%;
   }
   .imgs{
    text-align: center;

}
svg{
    text-align: center;
    color: #dc3545;
}
   }
   #body{
       background-color: white;
   }
   #alto{
      height: 10px;
   }
    img:hover {
    text-decoration: none;
    background: #020024;
    background: rgb(155, 92, 92)}

    .face:hover {
        text-decoration: none;
        color:  #3b5998
    }
    .ig:hover{
        text-decoration: none;
        color: #c13584

    }


    
       
   
  

   